# This configure file uses observational data which can be obtained by
# running the following command after exporting ILAMB_ROOT to the
# appropriate location.
#
#   ilamb-fetch --remote_root https://www.ilamb.org/ILAMB-Data
#
# Extra ilamb-run options are defined here with the '#!' symbols:
#
#! define_regions = DATA/regions/GlobalLand.nc
#

[h1: Ecosystem and Carbon Cycle]
bgcolor = "#ECFFE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Biomass]
variable       = "biomass"
alternate_vars = "cVeg"
weight         = 5
skip_rmse      = True
mass_weighting = True

[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/cVeg/CARDAMOM/cVeg_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight = 8
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Gross Primary Productivity]
variable       = "gpp"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/gpp/CARDAMOM/gpp_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight = 15
table_unit = "Pg yr-1"
plot_unit  = "g m-2 d-1"
space_mean = False
skip_iav   = False
relationships = "DATA_CARDAMOM_UPDATED/pr/CARDAMOM/pr_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc", "DATA_CARDAMOM_UPDATED/rsds/CARDAMOM/rsds_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc", "DATA_CARDAMOM_UPDATED/tas/CARDAMOM/tas_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Leaf Area Index]
variable       = "lai"
cmap           = "Greens"
weight         = 3
mass_weighting = True

[AVHRR]
source = "DATA_CARDAMOM_UPDATED/lai/CARDAMOM/lai_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight        = 15
relationships = "DATA_CARDAMOM_UPDATED/pr/CARDAMOM/pr_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Global Net Ecosystem Carbon Balance]
variable = "nbp"
weight   = 5
#ctype    = "ConfNBP"

[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/nbp/CARDAMOM/nbp_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight   = 20
#unit = "g m-2 d-1"



#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Ecosystem Respiration]
variable       = "reco"
derived        = "ra+rh"
weight         = 4
mass_weighting = True


[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/reco/CARDAMOM/reco_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 4
table_unit = "Pg yr-1"
plot_unit  = "g m-2 d-1"
space_mean = False
skip_iav   = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Autotrophic  Respiration]
variable       = "ra"
weight         = 4
mass_weighting = True


[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/ra/CARDAMOM/ra_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 4
table_unit = "Pg yr-1"
plot_unit  = "g m-2 d-1"
space_mean = False
skip_iav   = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Heterotrophic  Respiration]
variable       = "rh"
weight         = 4
mass_weighting = True


[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/rh/CARDAMOM/rh_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 4
table_unit = "Pg yr-1"
plot_unit  = "g m-2 d-1"
space_mean = False
skip_iav   = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Soil Carbon]
variable       = "cSoilAbove1m"
alternate_vars = "cSoil"
weight         = 5
mass_weighting = True

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/cSoil/CARDAMOM/cSoil_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 15
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False
skip_rmse  = True

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Methane]
variable       = "FCH4"
alternate_vars = "ch4"
cmap           = "Greens"
mass_weighting = True

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/ch4/CARDAMOM/ch4_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
table_unit = "g m-2 d-1"
plot_unit  = "g m-2 d-1"

###########################################################################

[h1: Hydrology Cycle]
bgcolor = "#E6F9FF"

[h2: Evapotranspiration]
variable       = "et"
alternate_vars = "evspsbl"
cmap           = "Blues"
weight         = 5
mass_weighting = True

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/et/CARDAMOM/et_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"
relationships = "DATA_CARDAMOM_UPDATED/pr/CARDAMOM/pr_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc", "DATA_CARDAMOM_UPDATED/rsds/CARDAMOM/rsds_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc", "DATA_CARDAMOM_UPDATED/tas/CARDAMOM/tas_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Runoff]
variable       = "runoff"
alternate_vars = "mrro"
weight         = 5
mass_weighting = True

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/runoff/CARDAMOM/runoff_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
table_unit     = "mm d-1"
plot_unit      = "mm d-1"
weight         = 15

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Terrestrial Water Storage Anomaly]
variable       = "twsa"
alternate_vars = "tws"
derived        = "pr-evspsbl-mrro"
cmap           = "Blues"
weight         = 5
ctype          = "ConfTWSA"

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/twsa/CARDAMOM/twsa_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Snow Water Equivalent]
variable       = "swe"
alternate_vars = "snw"
cmap           = "Blues"
weight         = 5
ctype          = "ConfSWE"

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/swe/CARDAMOM/swe_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 25
plot_unit  = "cm"
table_unit = "cm"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Soil Moisture]
variable = "mrsos"
weight   = 3
cmap     = "Blues"

[CARDAMOM]
source   = "DATA_CARDAMOM_UPDATED/mrsos/CARDAMOM/mrsos_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight   = 15

###########################################################################

[h1: Radiation and Energy Cycle]
bgcolor = "#FFECE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Ground Heat Flux]
variable       = "hfdsl"
alternate_vars = "FGR12"
cmap           = "Oranges"

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/hfdsl/CARDAMOM/hfdsl_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"


###########################################################################

[h1: Forcings]
bgcolor = "#EDEDED"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Air Temperature]
variable = "tas"
weight   = 2

[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/tas/CARDAMOM/tas_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight = 25

[h2: Precipitation]
variable       = "pr"
cmap           = "Blues"
weight         = 2
mass_weighting = True

[CARDAMOM]
source     = "DATA_CARDAMOM_UPDATED/pr/CARDAMOM/pr_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight     = 15
table_unit = "mm d-1"
plot_unit  = "mm d-1"
space_mean = True

[h2: Surface Downward SW Radiation]
variable = "rsds"
weight   = 2

[CARDAMOM]
source = "DATA_CARDAMOM_UPDATED/rsds/CARDAMOM/rsds_Lmon_ENSEMBLE-CARDAMOMHFDF14_historical_r1i1p1f1_gn_200101-202112.nc"
weight = 15

