# This configuration file uses observational data which can be obtained by
# running the following command after exporting ILAMB_ROOT to the
# appropriate location.
#
#   ilamb-fetch --remote_root https://www.ilamb.org/ILAMB-Data --local_root DATA/
#
# Extra ilamb-run options are defined here with the '#!' symbols:
#
#! define_regions = DATA/regions/GlobalLand.nc
#
[h1: Ecosystem and Carbon Cycle]
bgcolor = "#ECFFE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Gross Primary Productivity]
variable       = "gpp"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[FLUXCOM]
source        = "DATA/gpp/FLUXCOM/gpp.nc"
weight        = 15
table_unit    = "Pg yr-1"
plot_unit     = "g m-2 d-1"
space_mean    = False
skip_iav      = True
relationships = "Evapotranspiration/GLEAMv3.3a","Precipitation/GPCPv2.3","SurfaceDownwardSWRadiation/CERESed4.2","SurfaceNetSWRadiation/CERESed4.2","SurfaceAirTemperature/CRU4.02"

[WECANN]
source        = "DATA/gpp/WECANN/gpp.nc"
weight        = 15
table_unit    = "Pg yr-1"
plot_unit     = "g m-2 d-1"
space_mean    = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Leaf Area Index]
variable       = "lai"
cmap           = "Greens"
weight         = 3
mass_weighting = True

[AVHRR]
source        = "DATA/lai/AVHRR/lai_0.5x0.5.nc"
weight        = 15
relationships = "Precipitation/GPCPv2.3"

[AVH15C1]
source        = "DATA/lai/AVH15C1/lai.nc"
weight        = 15
relationships = "Precipitation/GPCPv2.3"

[MODIS]
source        = "DATA/lai/MODIS/lai_0.5x0.5.nc"
weight        = 15
relationships = "Precipitation/GPCPv2.3"
skip_iav      = True


#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Net Ecosystem Exchange]
variable       = "nee"
derived        = "ra+rh-gpp"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[FLUXCOM]
source        = "DATA/nee/FLUXCOM/nee.nc"
weight        = 15
table_unit    = "Pg yr-1"
plot_unit     = "g m-2 d-1"
space_mean    = False
skip_iav      = True

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Ecosystem Respiration]
variable       = "reco"
derived        = "ra+rh"
cmap           = "Greens"
weight         = 5
mass_weighting = True

[FLUXCOM]
source        = "DATA/reco/FLUXCOM/reco.nc"
weight        = 15
table_unit    = "Pg yr-1"
plot_unit     = "g m-2 d-1"
space_mean    = False
skip_iav      = True
relationships = "Evapotranspiration/GLEAMv3.3a","Precipitation/GPCPv2.3","SurfaceDownwardSWRadiation/CERESed4.2","SurfaceNetSWRadiation/CERESed4.2","SurfaceAirTemperature/CRU4.02"
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Soil Carbon]
variable       = "cSoilAbove1m"
alternate_vars = "cSoil"
weight         = 5
mass_weighting = True

[HWSD]
source     = "DATA/cSoil/HWSD/soilc_0.5x0.5.nc"
weight     = 15
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False
skip_rmse  = True

[NCSCDV22]
source     = "DATA/cSoil/NCSCDV22/soilc_0.5x0.5.nc"
weight     = 12
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False
skip_rmse  = True

[Koven]
ctype        = "ConfSoilCarbon"
source       = "DATA/cSoil/NCSCDV22/soilc_0.5x0.5.nc"
weight       = 15
soilc_source = "DATA/cSoil/NCSCDV22/soilc_0.5x0.5.nc, DATA/cSoil/HWSD/soilc_0.5x0.5.nc"
tas_source   = "DATA/tas/CRU4.02/tas.nc"
pr_source    = "DATA/pr/GPCCv2018/pr.nc"
npp_source   = "DATA/cSoil/Koven/npp_0.5x0.5.nc"
pet_source   = "DATA/cSoil/Koven/pet_0.5x0.5.nc"
fracpeat_source = "DATA/cSoil/Koven/fracpeat_0.5x0.5.nc"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Biomass]
variable       = "biomass"
alternate_vars = "cVeg"
weight         = 5
skip_rmse      = True
mass_weighting = True

[ESACCI]
source     = "DATA/biomass/ESACCI/biomass.nc"
weight     = 15
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[GEOCARBON]
source     = "DATA/biomass/GEOCARBON/biomass.nc"
weight     = 16
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[NBCD2000]
source     = "DATA/biomass/NBCD2000/biomass_0.5x0.5.nc"
weight     = 8
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[Saatchi2011]
source     = "DATA/biomass/Saatchi2011/biomass_0.5x0.5.nc"
weight     = 20
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[Thurner]
source     = "DATA/biomass/Thurner/biomass_0.5x0.5.nc"
weight     = 15
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[USForest]
source     = "DATA/biomass/USForest/biomass_0.5x0.5.nc"
weight     = 8
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

[XuSaatchi2021]
source     = "DATA/biomass/XuSaatchi2021/XuSaatchi.nc"
weight     = 12
table_unit = "Pg"
plot_unit  = "kg m-2"
space_mean = False

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h1: Hydrology Cycle]
bgcolor = "#E6F9FF"

[h2: Evapotranspiration]
variable       = "et"
alternate_vars = "evspsbl"
cmap           = "Blues"
weight         = 5
mass_weighting = True

[GLEAMv3.3a]
source        = "DATA/evspsbl/GLEAMv3.3a/et.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"
relationships = "Precipitation/GPCPv2.3","SurfaceAirTemperature/CRU4.02"

[MODIS]
source        = "DATA/evspsbl/MODIS/et_0.5x0.5.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"
relationships = "Precipitation/GPCPv2.3","SurfaceAirTemperature/CRU4.02"

[MOD16A2]
source        = "DATA/evspsbl/MOD16A2/et.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"
relationships = "Precipitation/GPCPv2.3","SurfaceAirTemperature/CRU4.02"

[ERA5]
source        = "DATA/evspsbl/ERA5/era5_evspsbl_mon_1979-2024.nc"
weight        = 15
table_unit    = "mm d-1"
plot_unit     = "mm d-1"
relationships = "Precipitation/GPCPv2.3","SurfaceAirTemperature/CRU4.02","Precipitation/ERA5"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Evaporative Fraction]
variable       = "EvapFrac"
weight         = 5
mass_weighting = True
ctype          = "ConfEvapFraction"
cmap           = "BuGn"

[FLUXCOM]
hfss_source = "DATA/hfss/FLUXCOM/sh.nc"
hfls_source = "DATA/hfls/FLUXCOM/le.nc"
weight      = 9
skip_rmse   = True

[CLASS]
hfss_source = "DATA/hfss/CLASS/hfss.nc"
hfls_source = "DATA/hfls/CLASS/hfls.nc"
skip_rmse   = True
weight      = 25

[WECANN]
hfss_source = "DATA/hfss/WECANN/hfss.nc"
hfls_source = "DATA/hfls/WECANN/hfls.nc"
weight      = 9
skip_rmse   = True

[ERA5]
hfss_source = "DATA/hfss/ERA5/era5_hfss_mon_1979-2024.nc"
hfls_source = "DATA/hfls/ERA5/era5_hfls_mon_1979-2024.nc"
skip_rmse   = True
weight      = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Latent Heat]
variable       = "hfls"
alternate_vars = "le"
cmap           = "Oranges"
weight         = 5
mass_weighting = True


[FLUXCOM]
source   = "DATA/hfls/FLUXCOM/le.nc"
land     = True
weight   = 9
skip_iav = True

[DOLCE]
source   = "DATA/evspsbl/DOLCE/DOLCE.nc"
weight   = 15
land     = True

[CLASS]
source     = "DATA/hfls/CLASS/hfls.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 25

[WECANN]
source     = "DATA/hfls/WECANN/hfls.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 9

[ERA5]
source     = "DATA/hfls/ERA5/era5_hfls_mon_1979-2024.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Runoff]
variable       = "runoff"
alternate_vars = "mrro"
weight         = 5
mass_weighting = True

[Dai]
ctype          = "ConfRunoff"
source         = "DATA/mrro/Dai/runoff.nc"
weight         = 15

[LORA]
source         = "DATA/mrro/LORA/LORA.nc"
table_unit     = "mm d-1"
plot_unit      = "mm d-1"
weight         = 15

[CLASS]
source         = "DATA/mrro/CLASS/mrro.nc"
plot_unit      = "mm d-1"
table_unit     = "mm d-1"
weight         = 25

[ERA5]
source         = "DATA/mrro/ERA5/era5_mrro_mon_1979-2024.nc"
plot_unit      = "mm d-1"
table_unit     = "mm d-1"
weight         = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Runoff]
variable       = "surface_runoff"
alternate_vars = "mrros"
weight         = 5
mass_weighting = True

[ERA5]
source         = "DATA/mrros/ERA5/era5_mrros_mon_1979-2024.nc"
plot_unit      = "mm d-1"
table_unit     = "mm d-1"
weight         = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Subsurface Runoff]
variable       = "subsurface_runoff"
alternate_vars = "ssro"
weight         = 5
mass_weighting = True

[ERA5]
source         = "DATA/ssro/ERA5/era5_ssro_mon_1979-2024.nc"
plot_unit      = "mm d-1"
table_unit     = "mm d-1"
weight         = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Sensible Heat]
variable       = "hfss"
alternate_vars = "sh"
weight         = 2
mass_weighting = True


[FLUXCOM]
source   = "DATA/hfss/FLUXCOM/sh.nc"
weight   = 15
skip_iav = True

[CLASS]
source     = "DATA/hfss/CLASS/hfss.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 25

[WECANN]
source     = "DATA/hfss/WECANN/hfss.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 15

[ERA5]
source     = "DATA/hfss/ERA5/era5_hfss_mon_1979-2024.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Terrestrial Water Storage Anomaly]
variable       = "twsa"
alternate_vars = "tws"
derived        = "pr-evspsbl-mrro"
cmap           = "Blues"
weight         = 5
ctype          = "ConfTWSA"

[GRACE]
source     = "DATA/twsa/GRACE/twsa_0.5x0.5.nc"
weight     = 25

[ERA5]
source      = "DATA/twsa/ERA5/era5_twsa_mon_1979-2024.nc"
weight         = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Snow Water Equivalent]
variable       = "swe"
alternate_vars = "snw"
cmap           = "Blues"
weight         = 5
ctype          = "ConfSWE"

[CanSISE]
source     = "DATA/swe/CanSISE/swe.nc"
weight     = 25
plot_unit  = "cm"
table_unit = "cm"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Permafrost]
variable = "tsl"

[Brown2002]
ctype    = "ConfPermafrost"
source   = "DATA/permafrost/Brown2002/Brown2002.nc"
y0       = 1985.
yf       = 2005.
Teps     = 273.15
dmax     = 3.5

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[Obu2018]
ctype    = "ConfPermafrost"
source   = "DATA/permafrost/Obu2018/Obu2018.nc"
y0       = 2000.
yf       = 2016.
Teps     = 273.15
dmax     = 3.5

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Soil Moisture]
variable = "mrsos"
weight   = 3
cmap     = "Blues"

[WangMao]
source   = "DATA/mrsos/WangMao/mrsos_olc.nc"
weight   = 15

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[h2: Snow Cover Fraction]
variable = "snow_cover_fraction"
alternate_vars = "scf"
weight   = 1
cmap     = "Blues"

[MODIS]
source = "DATA/scf/MODIS/scf_0.5x0.5_ILAMB_filled.nc"
weight   = 15
plot_unit  = "1"
table_unit = "1"

###########################################################################

[h1: Radiation and Energy Cycle]
bgcolor = "#FFECE6"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Albedo]
variable = "albedo"
weight   = 1
ctype    = "ConfAlbedo"

[CERESed4.2]
source   = "DATA/albedo/CERESed4.2/albedo.nc"
weight   = 20

[GEWEX.SRB]
source   = "DATA/albedo/GEWEX.SRB/albedo_0.5x0.5.nc"
weight   = 20

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Upward SW Radiation]
variable = "rsus"
weight   = 1

[CERESed4.2]
source   = "DATA/rsus/CERESed4.2/rsus.nc"
weight   = 15


[GEWEX.SRB]
source   = "DATA/rsus/GEWEX.SRB/rsus_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rsus/WRMC.BSRN/rsus.nc"
weight   = 12

[ERA5]
source   = "DATA/rsus/ERA5/era5_rsus_mon_1979-2024.nc"
weight   = 15

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Net SW Radiation]
variable = "rsns"
derived  = "rsds-rsus"
weight   = 1

[CERESed4.2]
source   = "DATA/rsns/CERESed4.2/rsns.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rsns/GEWEX.SRB/rsns_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rsns/WRMC.BSRN/rsns.nc"
weight   = 12

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Upward LW Radiation]
variable = "rlus"
weight   = 1

[CERESed4.2]
source   = "DATA/rlus/CERESed4.2/rlus.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rlus/GEWEX.SRB/rlus_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rlus/WRMC.BSRN/rlus.nc"
weight   = 12

[ERA5]
source   = "DATA/rlus/ERA5/era5_rlus_mon_1979-2024.nc"
weight   = 15

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Net LW Radiation]
variable = "rlns"
derived  = "rlds-rlus"
weight   = 1

[CERESed4.2]
source   = "DATA/rlns/CERESed4.2/rlns.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rlns/GEWEX.SRB/rlns_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rlns/WRMC.BSRN/rlns.nc"
weight   = 12

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Net Radiation]
variable = "rns"
derived  = "rlds-rlus+rsds-rsus"
weight   = 2
cmap     = "RdPu"

[CERESed4.2]
source   = "DATA/rns/CERESed4.2/rns.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rns/GEWEX.SRB/rns_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rns/WRMC.BSRN/rns.nc"
weight   = 12

[CLASS]
source     = "DATA/rns/CLASS/rns.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"
weight     = 25

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Ground Heat Flux]
variable       = "hfdsl"
derived  = "rlds-rlus+rsds-rsus-hfls-hfss"
alternate_vars = "FGR12"
cmap           = "Oranges"

[CLASS]
source     = "DATA/hfdsl/CLASS/hfdsl.nc"
plot_unit  = "W m-2"
table_unit = "W m-2"

###########################################################################

[h1: Forcings]
bgcolor = "#EDEDED"

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Air Temperature]
variable = "tas"
weight   = 2

[CRU4.02]
source   = "DATA/tas/CRU4.02/tas.nc"
weight   = 25

[ERA5]
source   = "DATA/tas/ERA5/era5_tas_mon_1979-2024.nc"
weight   = 25
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Precipitation]
variable       = "pr"
cmap           = "Blues"
weight         = 2
mass_weighting = True

[CMAPv1904]
source     = "DATA/pr/CMAPv1904/pr.nc"
land       = True
weight     = 20
table_unit = "mm d-1"
plot_unit  = "mm d-1"
space_mean = True

[GPCCv2018]
source     = "DATA/pr/GPCCv2018/pr.nc"
land       = True
weight     = 20
table_unit = "mm d-1"
plot_unit  = "mm d-1"
space_mean = True

[GPCPv2.3]
source     = "DATA/pr/GPCPv2.3/pr.nc"
land       = True
weight     = 20
table_unit = "mm d-1"
plot_unit  = "mm d-1"
space_mean = True

[CLASS]
source         = "DATA/pr/CLASS/pr.nc"
land           = True
weight         = 15
table_unit     = "mm d-1"
plot_unit      = "mm d-1"
space_mean     = True

[ERA5]
source         = "DATA/pr/ERA5/era5_pr_mon_1979-2024.nc"
land           = True
weight         = 15
table_unit     = "mm d-1"
plot_unit      = "mm d-1"
space_mean     = True

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Downward SW Radiation]
variable = "rsds"
weight   = 2

[CERESed4.2]
source   = "DATA/rsds/CERESed4.2/rsds.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rsds/GEWEX.SRB/rsds_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rsds/WRMC.BSRN/rsds.nc"
weight   = 12

[ERA5]
source   = "DATA/rsds/ERA5/era5_rsds_mon_1979-2024.nc"
weight   = 15
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[h2: Surface Downward LW Radiation]
variable = "rlds"
weight   = 1

[CERESed4.2]
source   = "DATA/rlds/CERESed4.2/rlds.nc"
weight   = 15

[GEWEX.SRB]
source   = "DATA/rlds/GEWEX.SRB/rlds_0.5x0.5.nc"
weight   = 15

[WRMC.BSRN]
source   = "DATA/rlds/WRMC.BSRN/rlds.nc"
weight   = 12

[ERA5]
source   = "DATA/rlds/ERA5/era5_rlds_mon_1979-2024.nc"
weight   = 15
